save-exact=true
tag-version-prefix=
progress=false
loglevel=error
@zendesk:registry=https://zdrepo.jfrog.io/zdrepo/api/npm/npm/
//zdrepo.jfrog.io/zdrepo/api/npm/npm/:_password=QUtDcDVaMnMxbkRtenUzY0QxVlJFVTNxa2ZkYXE1VXBOOFVnWG5jaWlqNTk3Y0NQd3BMa0tOS24xeFI1azFYWThCcXBWZGdIQg==
//zdrepo.jfrog.io/zdrepo/api/npm/npm/:username=dguyon
//zdrepo.jfrog.io/zdrepo/api/npm/npm/:email=dguyon@zendesk.com
//zdrepo.jfrog.io/zdrepo/api/npm/npm/:always-auth=true
